#### \*args,  \**kwargs를 이용한 함수 정의하기

In [ ]:
한줄 if 문 과 List Comprehension을 사용하여
1. 2의 배수일 경우에는 "two" 라는 텍스트 ["","two","","two",...]
2. 3의 배수일 경우에는 "three" 텍스트["","","three","","","three",...]

In [1]:
# [참일때의 값] if[조건문] else [거짓일때의 값]
"양수입니다." if 3>0 else "음수입니다."

'양수입니다.'

In [2]:
10 % 3 == 0 # 3의 배수 % 는 나머지 연산자.

False

In [6]:
[
    "two" if (i+1) % 2 == 0 else ""    # i  =>[0,1,2,3,4,5,6,7,8,9]
    for i
    in range(10)
]

['', 'two', '', 'two', '', 'two', '', 'two', '', 'two']

In [ ]:
["","two","three","two","","twothree",...]

In [7]:
[
    "three" if (i+1) % 3 == 0 else ""    # i  =>[0,1,2,3,4,5,6,7,8,9]
    for i
    in range(10)
]

['', '', 'three', '', '', 'three', '', '', 'three', '']

In [10]:
[
   "two" if (i+1) % 2 == 0 else "" + "three" if (i+1) % 3 == 0 else ""
    for i
    in range(20)
]

['',
 'two',
 'three',
 'two',
 '',
 'two',
 '',
 'two',
 'three',
 'two',
 '',
 'two',
 '',
 'two',
 'three',
 'two',
 '',
 'two',
 '',
 'two']

In [11]:
[
   ("two" if (i+1) % 2 == 0 else "") + ("three" if (i+1) % 3 == 0 else "")
    for i
    in range(20)
]

['',
 'two',
 'three',
 'two',
 '',
 'twothree',
 '',
 'two',
 'three',
 'two',
 '',
 'twothree',
 '',
 'two',
 'three',
 'two',
 '',
 'twothree',
 '',
 'two']

In [12]:
# 코드 가독성

   ("two" if (i+1) % 2 == 0 else "") +\
        ("three" if (i+1) % 3 == 0 else "")
    for i
    in range(20)
]

['',
 'two',
 'three',
 'two',
 '',
 'twothree',
 '',
 'two',
 'three',
 'two',
 '',
 'twothree',
 '',
 'two',
 'three',
 'two',
 '',
 'twothree',
 '',
 'two']

In [ ]:
#### 함수 정의 
- 남들이 만들어둔 편리한 함수를 사용한다.
- 함수 사용할때 매개변수에 인자를 입력하게 되는데 인자를 옵션(인자있을 수 있고 없을 수 있다)
#### *args => 여러개의 arguments 의 인자를 하나로 묶는 기능을 한다.( 함수선언할때 별은 pack, 한수실행할때 *은 unpack 기능한다.)
#### **kwargs => key word args ,

In [13]:
def get_sum(a, b, c):
    return a + b +c
get_sum(10,10,10)

30

In [17]:
def get_sum(*args):
    print(args)     # tuple 
    result =0
    for arg in args:
        result += arg
    return result
get_sum(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [18]:
get_sum([1,2,3,45])  # tuple의 첫번째 인자가 리스트이다.

([1, 2, 3, 45],)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [20]:
data=[1,2,3,4,5]
get_sum(*data)   # 함수 호출 할때 *은 uppack

(1, 2, 3, 4, 5)

15

In [ ]:
#### *args  (여러개 인자를 => tuple)
#### **kwargs (여러개의 인자인데 이름이 있다. => Dict)

In [31]:
def hello(**kwargs): 
    print(kwargs)

In [24]:
hello(name="hong", email="hong@gmail.com")

{'name': 'hong', 'email': 'hong@gmail.com'}

In [25]:
student = {
    "name":"hong",
    "email":"hong@gmail.com",
}

In [27]:
hello(student)

TypeError: hello() takes 0 positional arguments but 1 was given

In [32]:
hello(**student)

{'name': 'hong', 'email': 'hong@gmail.com'}

In [33]:
hello(**{"name":"hong", "email": "hong@gmail.com"})

{'name': 'hong', 'email': 'hong@gmail.com'}

In [34]:
def hello(*args, **kwargs):
    print(args)   # 이름 없는 매개변수
    print(kwargs) # 이름 있는 매개변수

In [35]:
hello(1,2,3,name="hong")

(1, 2, 3)
{'name': 'hong'}

In [ ]:
자기를 소개하는 함수
필수 정보는 : 이름, 이메일
선택 정보는 사용자가 선택해서 입력할 수 있도록 한다.

In [40]:
def info(name, email, *args, **kwargs):
    print("안녕하세요, " + name + "입니다")
    print("이메일은 " + email)
    print("------------------------------")
    print(kwargs)
    print("------------------------------")

In [41]:
info("홍길동", 'hong@gmail.com', phonenumber='01012345678')

안녕하세요, 홍길동입니다
이메일은 hong@gmail.com
------------------------------
{'phonenumber': '01012345678'}
------------------------------

In [42]:
hello("홍길동")

('홍길동',)
{}

In [43]:
hello("홍길동", phonenumber="1111111")

('홍길동',)
{'phonenumber': '1111111'}

In [ ]:
함수를 반환하는 함수 -- SMS 발송

1. 데이터 크롤링
2. 데잍 전처리
3. 데이터 엑셀로 저장
4. 데이터를 이멜로 보내기

DECORATOR  -자료 필요함.......

#### CLASS

In [1]:
class Person():
    name = "홍길동"
    age = 20
    
    def introduce(self):
        print("안녕하세요, 저는 {age}살 {name}  입니다.".format(age=self.age, name=self.name))

In [89]:
 class Person():  # class Person extends Object   => toString()
    
        def __init__(self, name, age, money):
            self.name = name
            self.age = age
            self.money = money
    
        def __str__(self):   # toString()
            return self.name
        
        def __repr__(self):
            return self.name
          
        def __add__(self, partner):   # 홍길동 & 이도령  | 결혼을 축하합니다. hong + lee
            print("{name} & {partner_name} | 결혼을 축하합니다".format(
                name = self.name,
                partner_name = partner.name,
            ))
        
        def introduce(self):
            print("안녕하세요, 저는 {age}살 {name} 입니다." .format(age=self.age, name=self.name))
        
        def meet(self, another): # 홍길동이 이도령을 만났습니다.
            print("{myname}이 {yourname} 을 만났습니다.".format(
                myname = self.name,
                yourname = another.name,
            )) 
        def give(self, partner, amount):# 홍길동 재산중에 2000원을 이도령에게 기부
            self.money -= amount
            partner.money += amount

In [90]:
lee = Person("이도령", 30, 1000)

In [91]:
print(lee)

이도령

In [92]:
lee.introduce()

안녕하세요, 저는 30살 이도령 입니다.

In [93]:
 # 홍길동이 이도령을 만났습니다.
hong = Person("홍길동", 20, 10000)

In [94]:
hong.meet(lee)

홍길동이 이도령 을 만났습니다.

In [95]:
# 홍길동 재산중에 2000원을 이도령에게 기부
hong.give(lee,2000)

In [96]:
hong.money

8000

In [64]:
lee.money

3000

#### Q4. 이도령과 홍길동의 결혼을 축하합니다.를 출력하시오.
- def \_\_add\_\_ override(재정의)

def \_\_add\_\_(self, partner):  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      print("{name} & {partner_name} | 결혼을 축하합니다".format(
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name = self.name,
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;partner_name = partner.name,
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;))

In [97]:
# Person 클래스의 오브젝트 생성 데이터
data=[
    {"name":"사람0","age":20, "money":1000},
    {"name":"사람1","age":30, "money":2000},
    {"name":"사람2","age":40, "money":3000},
    {"name":"사람3","age":50, "money":9000},
]

In [98]:
data

[{'name': '사람0', 'age': 20, 'money': 1000},
 {'name': '사람1', 'age': 30, 'money': 2000},
 {'name': '사람2', 'age': 40, 'money': 3000},
 {'name': '사람3', 'age': 50, 'money': 9000}]

In [99]:
people = [
Person(person['name'], person['age'], person['money'])
for person
in data
]

In [100]:
people[2].introduce()

안녕하세요, 저는 40살 사람2 입니다.

In [101]:
del people[0]

In [102]:
print(people)

[사람1, 사람2, 사람3]

### Q5. "Character" 라는 클래스를 사용하여 OOP를 구현해 보세요.
- 속성 : name, health, damage, inventory

- Character 클래스의 오브젝트 생성
    - heros 리스트
    - monsters 리스트
    
- 히어로 리스트 출력
- 몬스터 리스트 출력

In [113]:
class Character(): 
    
    def __init__(self, name, power, damage, item):
        self.name = name
        self.power = power
        self.damage = damage
        self.item = item
    
    def __repr__(self):
        return self.name
    
#     Character 클래스의 오브젝트 생성
heroes = []
heroes.append(Character('아이언맨', 300, 100,{'weapon':'레이저','gold':100 }))
heroes.append(Character('울버린', 200, 90,{'weapon':'갈퀴', 'gold':10}))
heroes.append(Character('데드풀', 100, 50,{'weapon':'장검', 'gold':20}))

monsters = []
monsters.append(Character('드래곤',500, 100,{'weapon':'불','gold':100 }))
monsters.append(Character('뱀파이어',400, 80,{'weapon':'이빨','gold':90 }))
monsters.append(Character('고블린',100, 10,{'weapon':'창','gold':10 }))

del heroes[1]
print(heroes)

[아이언맨, 데드풀]

In [112]:
print(monsters)

[드래곤, 뱀파이어, 고블린]

### Triangle Class 
- State : height, width
- Behavior : area(삼각형 넓이 구하기) is_bigger (다른 삼각형과 비교)

In [1]:
    class Triangle():
    
        def __init__(self, width, height):
            self.width = width
            self.height = height

        def __repr__(self):
            return "( {width}, {height} ) Triangle".format(
                width = self.width,
                height = self.height,
            )
        def area(self):
            return self.width * self.height / 2

        def is_bigger_than(self, other):
            return self.area() > other.area()

In [2]:
t1 = Triangle(10, 20)

In [3]:
t2 = Triangle(20,40)

In [4]:
t1.is_bigger_than(t2)

False

In [5]:
def hello1():
    print("hello")

def hello2():
    return "hello"

In [6]:
hello1_result = hello1()

hello

In [7]:
hello2_result = hello2()

In [8]:
hello1_result   # None

In [9]:
hello2_result

'hello'

In [10]:
import pandas

In [11]:
df = pandas.read_csv("./animals.csv", encoding='euc-kr')

In [12]:
df   # __repr__

  Korean Name  English Name  Size
0         강아지           dog    중형
1         고양이           cat    소형
2         물고기          fish   초소형
3         원숭이        monkey    대형

In [13]:
print(df)  # ___str___

  Korean Name  English Name  Size
0         강아지           dog    중형
1         고양이           cat    소형
2         물고기          fish   초소형
3         원숭이        monkey    대형

In [14]:
# 객체의 상속(Inheritance)
class Animal():
    
    def eat(self):
        print("먹는다!!!")
    def attack(self):
        print("공격!!!")

In [15]:
class Dog(Animal):
    def bark(self):
        print("왈왈")

In [16]:
class Bird(Animal):
    def fly(self):
        print("날다")
    def eat(self):
        print("부리로 먹이를 쪼아 먹는다.")

In [17]:
dog = Dog()
dog.bark()

왈왈

In [18]:
bird = Bird()
bird.eat()

부리로 먹이를 쪼아 먹는다.

### OOP 객체지향 언어 4가지 특징

#### 추상화(Abstraction)
- 공통의 속성이나 기능을 묶어 이름을 붙이는것 => 클래스 정의하는 것을 추상화
#### 캡슐화(Encapsulation)
- 변수와 함수를 하나로 묶어 외부에서 접근을 막고, 함수를 통해서만 접근하도록 한다. (은닉화)
- https://wikidocs.net/84421
#### 상속(Inheritance)
- 상위 개념의 특징을 하위 개념이 물려 받는것 => 재사용성
#### 다형성(Polymorphism)
- 부모 클래스로부터 물려받은 함수를 자식 클래스에서 오버라이딩하여 사용하는것.

 [마크다운 활용법] (https://datanetworkanalysis.github.io/2019/10/12/markdown)