In [2]:
fp = open('new.txt', 'w')
fp.write('hello world python')
# close()하지 않은 경우 new.txt 파일 내용이 없다
fp.close()

In [3]:
with open('./animals.csv') as fp:
    data = fp.read()

In [4]:
data

'Korean Name, English Name, Size\n강아지, dog, 중형\n고양이, cat, 소형\n물고기, fish, 초소형\n원숭이, monkey, 대형'

In [6]:
data.split('\n')

['Korean Name, English Name, Size',
 '강아지, dog, 중형',
 '고양이, cat, 소형',
 '물고기, fish, 초소형',
 '원숭이, monkey, 대형']

In [7]:
with open('./animals.csv') as fp:
    data = fp.read()
    rows = data.split('\n')
    
rows

['Korean Name, English Name, Size',
 '강아지, dog, 중형',
 '고양이, cat, 소형',
 '물고기, fish, 초소형',
 '원숭이, monkey, 대형']

In [8]:
row = rows[0]
row

'Korean Name, English Name, Size'

In [9]:
row.split(',')

['Korean Name', ' English Name', ' Size']

In [10]:
# lambda(익명함수) + Lambda Operator

In [11]:
def double(x):
    return 2 * x
double(100)

200

In [13]:
lambda x:2 * x

In [14]:
(lambda x:2 * x) (100)

200

In [15]:
# [1,2,3,4,5] => [2,4,6,8,10]

In [17]:
my_list = [1, 2, 3, 4, 5]
result = []

for element in my_list:
    result.append(double(element))
result

[2, 4, 6, 8, 10]

In [18]:
#map(함수이름, 리스트)
#리스트 각 요소에 동일한 함수를 적용하여 리스트를 리턴한다

In [19]:
list(map(double, [1, 2, 3, 4, 5]))

[2, 4, 6, 8, 10]

In [20]:
list(map(
    lambda x: x * 2, [1, 2, 3, 4, 5]))

[2, 4, 6, 8, 10]

In [54]:
def read_csv(filepath, separator=","): ##
    with open(filepath, "r") as fp:  # 1. 파라메터 filepath
        result = []  
        data = fp.read()
        rows = data.split("\n")
        
        columns = rows[0].split(separator)  ##

        for row in rows[1:]:
            row_data = row.split(separator)   ##
            row_dict = {}
    #         column을 for문 돌리면서 컬럼에 해당 데이터를 추가한다. # {'Korean Name'}: "강아지"
    
            for column_index in range(len(columns)):  #컬럼갯수만큼 반복한다.

                column = columns[column_index]   # 0

                row_dict[column]= row_data[column_index]

            result.append(row_dict)

        return result   # 2. return

In [55]:
read_lsv = lambda filepath: read_csv(filepath, "|")
read_lsv

In [56]:
read_lsv("./fruits.csv")

[{'Name': '딸기', 'Size': '소형'},
 {'Name': '멜론', 'Size': '중형'},
 {'Name': '수박', 'Size': '대형'}]

In [57]:
def read_lsv(filepath):
    return read_csv(filepath, '|')

read_lsv('./fruits.csv')

[{'Name': '딸기', 'Size': '소형'},
 {'Name': '멜론', 'Size': '중형'},
 {'Name': '수박', 'Size': '대형'}]

In [58]:
list(map(
    lambda x: x*2,
    range(10)
))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [59]:
# filter(함수, 리스트)
# 리스트 각각의 element에 대해 함수를 적용하여 함수 결과가 True인 Element만 새로운 리스트로 반환

In [60]:
#element 중에 100이상 수만 필터링 하자
list(filter(
    lambda x: x > 100,
    [1, 10, 100, 200, 300, 12345
]))

[200, 300, 12345]

In [61]:
# Q1 : 1~10사이 자연수를 제곱하여 제곱한 결과가 50이상이 되는 수를 필터링 하여라

In [64]:
# 1. for
result = []
for i in range(1, 11):
    element = i ** 2
        
    if element >= 50:
            result.append(element)
result

[64, 81, 100]

In [65]:
# 2. map, filter
list(map(lambda x: x**2, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
list(filter(lambda x: x >= 50, list(map(lambda x: x**2, range(1, 11)))))

[64, 81, 100]

In [67]:
# Map, Filtersms List를 return

# Reduce는 Value를 return

In [68]:
# 리스트를 input으로 받아 element의 합을 구하는 function 선언
def get_sum(my_list):
    result = 0
    
    for element in my_list:
        result = result + element
    return result

In [69]:
get_sum([1, 2, 3, 4, 5])

15

In [70]:
from functools import reduce

In [71]:
reduce(
    lambda a, b : a + b,
    [1, 2, 3, 4, 5
])

15

In [72]:
# Q2. get_max() => filter
# input : list
# output : list element 중에 가장 큰 값

In [74]:
def get_max(elements):
    max = elements[0]
    
    for element in elements:
        if element >= max:
            max = element
    return max

In [75]:
get_max([1, 2, 100, 3, 4, 5, 105, 100, 6])

105

In [76]:
reduce(
    lambda a, b: a if a>b else b,
    [1,2,100,3,4,5,105,100,6]
)

105

In [77]:
get_max = lambda elements:reduce(lambda a, b: a if a>b else b, elements)

In [78]:
get_max([1,2,100,3,4,5,105,100,6])

105

In [79]:
# List Comprehension(리스트 표현식)

In [83]:
# map으로 값을 제곱하여 리스트로 리턴한다
list(map(lambda x: x**2, range(1, 6)))

[1, 4, 9, 16, 25]

In [84]:
# map을 list comprehension으로 [1**2 for i in range(1, 6)]
[
    i**2
    for i in range(1, 6)
]

[1, 4, 9, 16, 25]

In [85]:
[
    i
    for i
    in [100,1,2,3,104,2000]
    if i >= 100
]

[100, 104, 2000]

In [88]:
[
    i**2
    for i
    in range(1, 11)
    if i**2 >= 50
]

[64, 81, 100]

In [93]:
[
    open('./fruits1.csv', 'r').read().split('\n')
]

[['사과, Apple, 중형', '딸기, Stawberry, 소형', '수박, WaterMelon, 대형']]

In [96]:
[
    {
        'korean name' : row.split(',')[0],
        'english name' : row.split(',')[1],
        'size' : row.split(',')[2]
    }
    for row
    in open('./fruits1.csv', 'r').read().split('\n')
]

[{'korean name': '사과', 'english name': ' Apple', 'size': ' 중형'},
 {'korean name': '딸기', 'english name': ' Stawberry', 'size': ' 소형'},
 {'korean name': '수박', 'english name': ' WaterMelon', 'size': ' 대형'}]

In [97]:
# Q3. 1~100 자연수 중 소수 구하라 => 2, 3, 5, 7, 11, ...

In [150]:
# 1. Lambda Operator
list(filter(lambda x: x % list(map(lambda i: i if x in range(2, 101), range(2, x))) != 0, 
            list(map(lambda x: x, range(2, 101)))))

SyntaxError: invalid syntax (<ipython-input-150-0bff903f7781>, line 2)

In [ ]:
list(map(lambda x: x))

In [155]:
import math
list(filter(lambda x: 
            x % (num if num < math.sqrl(num)) != 0, 
            list(map(lambda x: x, range(2, 101)))))

SyntaxError: invalid syntax (<ipython-input-155-a985cddc42e1>, line 3)

In [148]:
# 2. List Comprehension
def nums(num):
    if num < 2:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

for i in range(1, 101):
    if(nums(i)):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97