In [24]:
# Dictionary

In [25]:
animals = ['dog', 'cat', 'fish']

In [26]:
student = {'name' : '홍길동', 'age' : '20', 'email' : 'hong@gmail.com'}
student

{'name': '홍길동', 'age': '20', 'email': 'hong@gmail.com'}

In [27]:
student['name']

'홍길동'

In [28]:
student['email']

'hong@gmail.com'

In [29]:
student['age']

'20'

In [30]:
student['address'] = '주소'
student

{'name': '홍길동', 'age': '20', 'email': 'hong@gmail.com', 'address': '주소'}

In [31]:
# Tuple

In [32]:
height, width = (30, 40)

In [33]:
height

30

In [34]:
width

40

In [35]:
# Bool

In [36]:
True

True

In [37]:
False

False

In [38]:
1 == 2

False

In [39]:
10 > 5

True

In [40]:
2 > 3

False

In [41]:
# Conditional Statement

In [42]:
if 10 > 5:
    print('10 is bigger than 5')

10 is bigger than 5

In [44]:
number = 20
if number > 0:
    print('양수입니다')
if number < 0:
    print('음수입니다')
if number == 0:
    print('0 입니다')

양수입니다

In [46]:
if False:
    print('참 입니다')
else:
    print('거짓 입니다')

거짓 입니다

In [47]:
number = 0
if number > 0:
    print('양수입니다')
else:
    print('음수 혹은 0 입니다')

음수 혹은 0 입니다

In [48]:
number = 0
if number > 0:
    print('양수 입니다')
else:
    if number < 0:
        print('음수 입니다')
    else:
        print('0 입니다')

0 입니다

In [49]:
if False:
    print('a')
print('b')

b

In [50]:
if False:
    print('a')
    print('b')

In [51]:
"참이다" if 10 > 5 else '거짓이다'

'참이다'

In [52]:
number = -10
'양수' if number > 0 else ('음수이다' if number < 0 else '0이다')

'음수이다'

In [53]:
'''
print('hi')
print('hi')
print('hi')
.....
print('hi')
'''

"\nprint('hi')\nprint('hi')\nprint('hi')\n.....\nprint('hi')\n"

In [54]:
for i in range(10):
    print('안녕하세요')

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [56]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
animals = ['dog', 'cat', 'fish']

In [58]:
for animal in animals:
    print(animal + '을/를 키우고 있습니다.')

dog을/를 키우고 있습니다.
cat을/를 키우고 있습니다.
fish을/를 키우고 있습니다.

In [59]:
student = {
    'name' : 'hong',
    'age' : 20,
    'email' : 'hong@gmail.com'
}

In [60]:
list(student)

['name', 'age', 'email']

In [62]:
for key in student:
    print(key)

name
age
email

In [65]:
for key in student:
    value = student[key]
    print(key + '=>' +str(value))

name=>hong
age=>20
email=>hong@gmail.com

In [67]:
for data in student.items():
    print(data)

('name', 'hong')
('age', 20)
('email', 'hong@gmail.com')

In [69]:
for key, value in student.items():
    print(key + ' => ' + str(value))

name => hong
age => 20
email => hong@gmail.com

In [70]:
# Function

In [71]:
def number_check(number):
    if number > 0:
        print('양수 입니다')
    else:
        if number < 0:
            print('음수 입니다')
        else:
            print('0 입니다')

In [73]:
number_check(10)

양수 입니다

In [74]:
number_check(0)

0 입니다

In [80]:
def number_check(number):
    if number > 0:
        return '양수 입니다'
    else:
        if number < 0:
            return  '음수 입니다'
        else:
            return '0 입니다'

In [81]:
number_check(10)

'양수 입니다'

In [82]:
number_check(0)

'0 입니다'

In [83]:
result = number_check(10)
result

'양수 입니다'

In [84]:
def double(number):
    return number * 2

In [85]:
def triple(number):
    return number * 3

In [86]:
double(triple(10))

60

In [87]:
def number_check(number):
    result = '양수' if number > 0 else ('음수' if number < 0 else 'zero')
    return result

In [88]:
number_check(10)

'양수'

In [89]:
number_check(0)

'zero'

In [90]:
# String

In [91]:
data = '홍길동, 20, hong@gmail.com, 대전시 서구 용문동'

In [93]:
data.split(',')

['홍길동', ' 20', ' hong@gmail.com', ' 대전시 서구 용문동']

In [96]:
my_infos = list(data.split(','))

In [97]:
my_infos

['홍길동', ' 20', ' hong@gmail.com', ' 대전시 서구 용문동']

In [98]:
'/'.join(my_infos)

'홍길동/ 20/ hong@gmail.com/ 대전시 서구 용문동'

In [99]:
'|'.join(my_infos)

'홍길동| 20| hong@gmail.com| 대전시 서구 용문동'

In [100]:
data.replace(',', '|')

'홍길동| 20| hong@gmail.com| 대전시 서구 용문동'

In [6]:
# List

In [7]:
animals = []

In [8]:
animals.append('dog')

In [9]:
animals

['dog']

In [10]:
animals.append('cat')

In [11]:
animals

['dog', 'cat']

In [12]:
# Dict.get

In [13]:
student = {'name' : 'hong', 'email' : 'hong@gmail.com'}

In [14]:
studnet['address']

NameError: name 'studnet' is not defined

In [15]:
student.get('address', '주소 없음')

'주소 없음'

In [19]:
# 파이썬으로 파일 읽고 쓰기

In [20]:
fp = open('first.txt', 'r', encoding = 'euc-kr')

In [21]:
data = fp.read()
data

'hello world\npython programming\n한글을 읽어보자'

In [22]:
data.split('\n')

['hello world', 'python programming', '한글을 읽어보자']

In [23]:
''.join(data)

'hello world\npython programming\n한글을 읽어보자'

In [24]:
fp = open('second.txt', 'w')
fp.write('hello world\n두번째 파일')
fp.close()