In [1]:
# Class

In [6]:
class Person():
    name = '홍길동'
    age = 20
    
    def introduce(self):
        print('안녕하세요. 저는 {age}살 {name} 입니다.').format(age=self.age, name=self.name)

In [7]:
hong = Person()
hong.name

'홍길동'

In [241]:
class Person():
    def __init__(self, name, age, money, *args, **kwargs):
        self.name = name
        self.age = age
        self.money = money
        
    def __str__(self):
        return self.name
    
    def __repr__(self):
        return self.name
    
    def introduce(self):
        print('안녕하세요. 저는 {age}살 {name} 입니다.'.format(age=self.age, name=self.name))
        
    def meet(self, another):
        print('{myname}이 {yourname}을 만났습니다.'.format(
            myname = self.name,
            yourname = another.name))
    
    def give(self, partner, amount):
        self.money -= amount
        partner.money += amount
        
    def married(self, another):
        print('{myname}과 {yourname}의 결혼을 축하합니다.'.format(
            myname = self.name,
            yourname = another.name))
        
    def __add__(self, partner):
        print('{name} & {partner_name} | 결혼을 축하합니다'.format(
             name = self.name,
             partner_name = partner.name))

In [242]:
hong = Person('홍길동', 20, 10000)
hong

홍길동

In [243]:
print(hong)

홍길동

In [244]:
hong.age

20

In [245]:
hong.name

'홍길동'

In [246]:
hong.introduce()

안녕하세요. 저는 20살 홍길동 입니다.

In [247]:
lee = Person('이도령', 30, 1000)

In [248]:
lee.introduce()

안녕하세요. 저는 30살 이도령 입니다.

In [249]:
hong.meet(lee)

홍길동이 이도령을 만났습니다.

In [250]:
hong.give(lee, 1000)

In [251]:
lee.money

2000

In [252]:
hong.money

9000

In [253]:
hong.married(lee)

홍길동과 이도령의 결혼을 축하합니다.

In [254]:
hong + lee

홍길동 & 이도령 | 결혼을 축하합니다

In [255]:
class Human( ):
    '''인간'''
    def __init__( self, name, weight ):
        '''초기화 함수'''
        self.name = name
        self.weight = weight

    def __str__( self ):
        '''문자열화 함수'''
        return "{} ( 몸무게 {}kg )".format( self.name, self.weight )

person = Human( "사람", 60.5 ) # 초기화 함수 사용
print( person ) # 문자열화 함수 사용

사람 ( 몸무게 60.5kg )

In [256]:
hong = Person('홍길동', 20, 10000)
lee = Person('이도령', 30, 1000)

In [257]:
hong.meet(lee)

홍길동이 이도령을 만났습니다.

In [258]:
#가지고 있는 데이터를 클래스로 다루기
data = [
    {'name' : '사람1', 'age' : 20, 'money' : 1000},
    {'name' : '사람2', 'age' : 30, 'money' : 2000},
    {'name' : '사람3', 'age' : 40, 'money' : 3000},
    {'name' : '사람4', 'age' : 50, 'money' : 9000}
]

In [259]:
data

[{'name': '사람1', 'age': 20, 'money': 1000},
 {'name': '사람2', 'age': 30, 'money': 2000},
 {'name': '사람3', 'age': 40, 'money': 3000},
 {'name': '사람4', 'age': 50, 'money': 9000}]

In [260]:
people = [
    Person(person['name'], person['age'], person['money'])
    for person
    in data
]

In [261]:
people[2].introduce()

안녕하세요. 저는 40살 사람3 입니다.

In [262]:
print(people)

[사람1, 사람2, 사람3, 사람4]

In [263]:
# OOP 구현

In [264]:
class Character():
    def __init__(self, name, power, damage, item):
        self.name = name
        self.power = power
        self.damage = damage
        self.item = item
        
    def __repr__(self):
        return self.name
    
heroes = []
heroes.append(Character('아이언맨', 100, 100, {'weapon' : '레이저', 'gold' : 1000}))
heroes.append(Character('울버린', 300, 90, {'weapon' : '갈퀴', 'gold' : 10}))
heroes.append(Character('데드풀', 200, 50, {'weapon' : '장검', 'gold' : 20}))
    
monsters = []
monsters.append(Character('고블린', 90, 30, {'gold': 50, 'weapon': '창'}))
monsters.append(Character('드래곤', 200, 80, {'gold': 200, 'weapon': '화염'}))
monsters.append(Character('뱀파이어', 80, 120, {'gold': 1000, 'weapon': '최면술'}))

In [265]:
print(heroes)  # 히어로 리스트 확인
print (monsters)  # 몬스터 리스트 확인
del heroes[0]  # 히어로 리스트에서 아이언맨 삭제
print(heroes)  # 히어로 리스트 재확인

[아이언맨, 울버린, 데드풀]
[고블린, 드래곤, 뱀파이어]
[울버린, 데드풀]

In [266]:
class Animal():
    def eat(self):
        print('먹는다!!!')
    def attack(self):
        print('공격!!!')

In [267]:
class Dog(Animal):
    def bark(self):
        print('왈왈')

In [268]:
class Bird(Animal):
    def fly(self):
        print('날다')
    def eat(self):
        print('부리로 먹이를 쪼아 먹는다.')

In [269]:
dog = Dog()
dog.bark()

왈왈

In [270]:
bird = Bird()
bird.eat()

부리로 먹이를 쪼아 먹는다.

### OOP 객체지향 언어 4가지 특징
##### 추상화(Abstraction)
- 공통의 속성이나 기능을 묶어 이름을 붙이는것 => 클래스 정의하는 것을 추상화

##### 캡슐화(Encapsulation)
- 변수와 함수를 하나로 묶어 외부에서 접근을 막고, 함수를 통해서만 접근하도록 한다 (은닉화)

##### 상속(Inheritance)
- 상위 개념의 특징을 하위 개념이 물려 받는것 => 재사용성

##### 다형성(Polymorphism)
- 부모 클래스로부터 물려받은 함수를 자식 클래스에서 오버라이딩하여 사용하는것

In [271]:
import pandas as pd

In [272]:
df = pd.read_csv('./animals.csv', encoding='euc-kr')

In [273]:
df  # __repr__

  Korean Name  English Name  Size
0         강아지           dog    중형
1         고양이           cat    소형
2         물고기          fish   초소형
3         원숭이        monkey    대형

In [274]:
print(df)  # __str__

  Korean Name  English Name  Size
0         강아지           dog    중형
1         고양이           cat    소형
2         물고기          fish   초소형
3         원숭이        monkey    대형

> hi